body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  color: @dark;
  background: @light-grey;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page-main {
  padding-top: 72px;
}

.columns {
  display: flex;
  justify-content: space-between;
}
